<div id="<%= dom_id movie %>">
  <td>
    <strong>Title:</strong>
    <%= movie.title %>
  </td>

  <td>
    <strong>Rating:</strong>
    <%= movie.rating %>
  </td>



  <td>
    <strong>Release date:</strong>
    <%= movie.release_date %>
  </td>

</div>
