<p style="color: green"><%= notice %></p>

<h1>Movies </h1>
<table>
  <thead>
    <tr>
      
    </tr>
  </thead>
  <tbody>

    <div id="movies">
    
    <% @movies.each do |movie| %>
      <tr>
        <%= render movie %>
        <td>
          <%= link_to "Show this movie", movie %>
        </td>
      </tr>
      
    <% end %>
    
    </div>

  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to "New movie", new_movie_path %></td>
    </tr>
  </tfoot>
</table>

